.multisig-details-accordion {
  position: relative;

  .expand-icon {
    position: absolute;
    left: calc(50% - 11px);
    bottom: -1rem;
    z-index: 100;
    pointer-events: none;

    svg {
      pointer-events: none;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .cards-collapse-content {
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
