.home {
  color: #000;
  .login-container {
    font-size: 0.8125rem;
    max-width: 33.625rem;

    .btn {
      min-width: 6.875rem;
      @include media-breakpoint-up(sm) {
        min-width: 8rem;
      }
    }
    .logo {
      fill: $white;
      height: 2.5rem;
      width: auto;
    }
  }
}

.home-img{
  width: 100%;
  height: auto;
}

.connect{
  h2{
  color:#3D5170;;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;

  }
  .connect-btns{
    .btn{
      padding: 17px 24px 14px 20px;
      color: #fff;
      background-color: #1392FF;
    }
  }
}