.owner {
  .my-wallets {
    width: 100%;
    max-width: 812px;
    margin-top: auto;
    .welcome{
      margin-bottom: 56px;
      h2{
        font-size: 36px;
        font-weight: bold !important;
        margin-bottom: 6px;
      }
      span{
        margin-left: 20.1px;
      }
      p{
        color: #A0A9BC;
        font-size: 24px;
      }
    }
    .wallet-card {
      .wallet-spacer{
        gap: 24px;
      }
      button{
        background-color: #fff;
        border-radius: 12px;
        min-height: 308px;
        flex: 1;
        border:1px solid #fff;
        padding: 40px;
        transition: .1s;
        p{
          font-size: 21px;
          line-height: 25px;
        }
        .action{
          svg{
            color: #1390FF;
            opacity: 0;
            margin-left: 10px;
            position: relative;
          }
        }
        .info-text{
          font-size: 16px;
          line-height: 19px;
          color: #9DABBD;
        }
        &:hover{
          border: 1px solid #1390FF;
          .action{
            color: #1390FF;
            svg{
              opacity: 1;
            }
          }
          }
      }
    }
  }
  .info-msg {
    color: #9DABBD;
    font-size: 16px;
    line-height: 19px;
    margin-top: auto;
    margin-bottom: 64px;
    a{
      color: #1390FF;
    }
  }
  .action-dropdown {
    padding: 0;
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
    &::after {
      display: none;
    }
  }
}
