.modal-container {
  .modal-dialog {
    border-radius: 12px !important;
    .modal-content {
      border: none;
      background: none;
      .card {
        border-radius: 12px !important;
      }
      .card-body {
        padding: 40px !important;
      }
    }

    .modal-card {
      .modal-card-body {
        border-radius: $card-border-radius;
      }

      @include media-breakpoint-up(sm) {
        width: 39rem;
      }

      .card {
        background-color: $card-bg;
        border-radius: 0;
        box-shadow: none !important;
        border: none;
        width: unset;
        > .p-4 {
          padding: 0 !important;
        }
        &.my-4 {
          margin: 0 !important;
        }
      }
    }
  }
  .modal-action-btns {
    display: flex;
    justify-content: center;
    gap: 11px;
    margin-top: 32px;

    button {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      height: 48px;
    }
    .btn-light {
      color: #1392ff;
      background: #f3f9ff;
    }
  }
}
