.modal-control-container {
  display: block;
  label {
    display: block !important;
    color: #9dabbd;
    font-size: 18px;
    line-height: 21px;
  }
  .input-wrraper {
    position: relative;
    span {
      position: absolute;
      color: #1390ff;
      top: calc(50% - 10px);
      right: 10px;
      margin: 0;
      cursor: pointer;
    }
  }
  input {
    font-size: 18px;
    height: 48px;
    border-radius: 8px;
    line-height: 21px;
    margin-bottom: 32px !important;
  }
  textarea {
    font-size: 18px;
    border-radius: 8px;
    line-height: 21px;
  }
}

.modal-control-container span {
  margin-right: 1rem;
  margin-bottom: 0.7rem;
  min-width: 120px;
  text-align: right;
}

.modal-control-container input {
  margin-bottom: 0.7rem;
}

.modal-control-container .form-check-label {
  font-size: 16px;
  font-weight: 300;
}

.modal-control-container .form-check-input {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  margin-right: 8px;
}
