.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;

  .wallet-logo {
    position: absolute;
    top: -51px;
  }
  .card {
    display: flex;
    max-width: 842px;
    width: 100%;
    border-radius: 12px;
    .user-profile {
      border-bottom: 1px solid #e6e8ec;
      padding: 40px 0 65px;
      .wallet {
        padding: 0 40px;
        p {
          color: #a0a9bc;
          svg {
            font-size: 13px;
            margin-right: 8px;
          }
          span {
            color: #000;
          }
        }
        .wallet-name {
          margin-top: 40px;
          margin-bottom: 10px;
        }
        div {
          flex: 1;
        }
      }
      .address {
        color: #a0a9bc;
      }
    }
    .action-panel {
      width: 100%;
      border-bottom: 1px solid #e6e8ec;
      .actions-btns {
        display: flex;
        gap: 12px;
        padding-bottom: 40px;
        button {
          display: flex;
          align-items: center;
          width: 160px;
          height: 56px;
          background: #fff;
          color: #000;
          border-radius: 500px;
          border: 1px solid #f1f1f1 !important;
          &:hover {
            background: #1390ff;
            color: #fff;
            span {
              background: #fff;
              svg {
                color: #1390ff;
              }
            }
          }
          span {
            width: 48px;
            height: 48px;
            color: #fff;
            border-radius: 500px;
            background: #1390ff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -7px;
            svg {
              width: 16px;
              height: 18px;
            }
          }
        }
      }
      .balance {
        padding-top: 70px;
        h2 {
          font-weight: 600 !important;
        }
        .ex-currency {
          color: #a0a9bc;
          padding-bottom: 30px;
        }
      }
    }
  }
  .proposals-list {
    .no-active-proposals {
      padding: 40px 0;
      svg {
        margin-bottom: 16px;
      }
      p {
        color: #9dabbd;
      }
      a {
        text-decoration: underline;
      }
    }
    .proposal {
      display: flex;
      gap: 20px;
      > div {
        flex: 1;
      }

      .action-btns {
        .action {
          width: 112px;
          display: flex;
          font-size: 14px;
          line-height: 16px;
          justify-content: space-between;
          align-items: center;
          padding: 15px 20px 15px 16px;
          border-radius: 6px;
        }
        .sign {
          color: #16d296;
          background: #f3fdfa;
          border: 1px solid #ddf9f0;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        }
        .unsign {
          color: #138eff;
          background: #f3f9ff;
          border: 1px solid #ddeeff;
          box-sizing: border-box;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}
