.statcard {
  min-height: 8.8rem;
  min-width: 10rem;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 0.85rem;
  @include media-breakpoint-only(lg) {
    min-width: 13rem;
  }
  .icon {
    height: 1.5rem;

    svg {
      height: 1.5rem;
      color: black;
    }
  }
  .trusted-badge{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    background-color: green;
    padding: 0.5rem;
  }
}

.done-icon {
  circle {
    fill: green;
    opacity: 0.8;
  }
}
